
:root {
    --navbar-header-height:80px;
    --aside-bar-width:75px;
}


header {
    background-color: #F8F9FA;
}

.h-navbar {
    height:var(--navbar-header-height);
}

.w-aside {
    width:var(--aside-bar-width);
    height: calc(100vh - var(--navbar-header-height));
}

#mobile-logo {
    width:50px;
}

#desktop-logo {
    width:250px;
}
.bg-search-bar {
    background-color: #E5E5E5;
}

.notific-icon-color {
    color:#FF8F00;
}

.cursor-pointer:hover {
    cursor: url(../img/cursor.png), auto;
}

.edit-btn:hover,
.delete-btn:hover {
    background-color:#165BBA;
}

.edit-btn:hover > i,
.delete-btn:hover > i {
    color:white;
}

div.icon.cursor-pointer:hover {
    background-color:#839099;
}

.sidebar-bg {
    background-image:url("../img/sidebar-bg.png");
    background-size: cover;
    background-position: center;
    background-color: #051E34;
}

.application-width {
    height:calc(100vh - var(--navbar-header-height));
    width:calc(100% - var(--aside-bar-width));
}

.bg-card-title {
    background-color: #F7F7F7;
}

.as-vertical-align-middle {
    line-height:250%;
}

.classe-avatar-width {
    width:30px;
}

.text-bg-avv {
    background-color:#6F2CF4;
}

.table > thead > tr > th:not(:first-child),
.table > tbody > tr > td {
    text-align:center;
}

/* Responsive */

@media screen and (min-width:992px) {
    :root {
        --aside-bar-width:140px;
    }
}

* {
    /* outline:1px solid red; */
}

